<form [ngClass]="{'was-validated': wasValidated}"
      [formGroup]="passwordExpiredForm" method="post"
      class="login-form" novalidate (ngSubmit)="tryChangePassword()">

  <h3>Необходимо сменить пароль</h3>

  <div class="form-group form-control__icon">
    <input name="oldPassword" type="password" placeholder="Старый пароль" formControlName="oldPassword" class="form-control"
           autocomplete="off">
    <i class="vsk-icon-lock"></i>
  </div>

  <div class="form-group form-control__icon">
    <input name="newPassword" type="password" placeholder="Новый пароль" formControlName="newPassword" class="form-control"
           autocomplete="off">
    <i class="vsk-icon-lock"></i>
  </div>

  <div class="form-group form-control__icon">
    <input name="confirmPassword" type="password" placeholder="Подтверждение пароля" formControlName="confirmPassword" class="form-control"
           autocomplete="off">
    <i class="vsk-icon-lock"></i>
  </div>

  <div class="form-group login-buttons">
    <button type="submit" class="btn btn-primary btn-rounded" [disabled]="isServiceInProgress">Сменить</button>
    <a href="#" class="btn btn-link btn-rounded btn-remember" (click)="cancel()">Отмена</a>
  </div>
</form>

<div class="login-error">
  <div *ngIf="loginService.showError" class="alert alert-danger" [innerHTML]="loginService.showError"></div>
</div>
