<form #f="ngForm" [ngClass]="{'was-validated': wasValidated}"
      class="page-form-edit password-settings-form"
      novalidate autocomplete="off"
      (submit)="saveSettings(f)">
  <fieldset>
    <legend>Длина пароля</legend>

    <div class="row">
      <div class="col-sm-6 col-12">
        <form-control-label title="Минимальная(символов)" [required]="true">
          <input-number name="minLength" placeholder="" [(ngModel)]="namespace.minLength" [required]="true"
                        [disabled]="isFormDisabled"></input-number>
        </form-control-label>
      </div>
      <div class="col-sm-6 col-12">
        <form-control-label title="Максимальная(символов)" [required]="true">
          <input-number name="maxLength" placeholder="" [(ngModel)]="namespace.maxLength" [required]="true"
                        [disabled]="isFormDisabled"></input-number>
        </form-control-label>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Принудительная смена пароля</legend>

    <div class="row">
      <div class="col-sm-6 col-12 margin-top-check">
        <checkbox label="Включить принудительную смену" name="enableForceChange"
                  [(ngModel)]="namespace.enableForceChange" [disabled]="isFormDisabled"></checkbox>
      </div>
      <div class="col-sm-6 col-12">
        <form-control-label title="Смена пароля через(дней)" [required]="true">
          <input-number name="expiredDays" [(ngModel)]="namespace.expiredDays" placeholder=""
                        [disabled]="isFormDisabled && !namespace.enableForceChange"></input-number>
        </form-control-label>
      </div>
    </div>

    <legend>Разрешенные группы символов</legend>

    <div class="row">
      <div class="col-sm-6 col-12">
        <checkbox label="Заглавные" name="capitalLetters" [(ngModel)]="namespace.capitalLetters"
                  [disabled]="true"></checkbox>
      </div>
      <div class="col-sm-6 col-12">
        <checkbox label="Строчные" name="lowercaseLetters" [(ngModel)]="namespace.lowercaseLetters"
                  [disabled]="true"></checkbox>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-12">
        <checkbox label="Цифры" name="digits" [(ngModel)]="namespace.digits" [disabled]="true"></checkbox>
      </div>
      <div class="col-sm-6 col-12">
        <checkbox label="Дополнительные" name="additional" [(ngModel)]="namespace.additional"
                  [disabled]="isFormDisabled"></checkbox>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-12">
        <form-control-label title="Минимальное количество групп в пароле" [required]="true">
          <!--<input-select name="minGroupNumber" [items]="minGroupNumbers" [(ngModel)]="namespace.minGroupNumber" [required]="true" [nameField]="minGroupNumberName"
            [sysnameField]="minGroupNumberSysname"></input-select>-->
          <input-number name="minGroupNumber" [(ngModel)]="namespace.minGroupNumber" placeholder=""
                        [disabled]="isFormDisabled"></input-number>
        </form-control-label>
      </div>
      <div class="col-sm-6 col-12">
        <form-control-label title="Количество одинаковых символов подряд" [required]="true">
          <input-number name="sameSymbolsInRow" [(ngModel)]="namespace.sameSymbolsInRow" placeholder=""
                        [disabled]="isFormDisabled"></input-number>
        </form-control-label>
      </div>
    </div>

    <legend>Контроль истории паролей</legend>

    <div class="row">
      <div class="col-sm-6 col-12 margin-top-check">
        <checkbox label="Включить контроль истории паролей учетных записей" name="enablePasswordHistory"
                  [(ngModel)]="namespace.enablePasswordHistory"
                  [disabled]="isFormDisabled"></checkbox>
      </div>
      <div class="col-sm-6 col-12">
        <form-control-label title="Количество предыдущих паролей" [required]="true">
          <input-number name="previousPasswordsNumber" [(ngModel)]="namespace.previousPasswordsNumber" placeholder=""
                        [disabled]="isFormDisabled && !namespace.enablePasswordHistory"></input-number>
        </form-control-label>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Настройка политики учетных записей</legend>

    <div class="row">
      <div class="col-sm-6 col-12">
        <form-control-label title="Максимальное количество неудачных попыток входа" [required]="true">
          <input-number name="maxUnsuccessfulLoginAttempts" placeholder=""
                        [(ngModel)]="namespace.maxUnsuccessfulLoginAttempts" [required]="true"
                        [disabled]="isFormDisabled"></input-number>
        </form-control-label>
      </div>
      <div class="col-sm-6 col-12">
        <form-control-label title="Максимальный период неактивности пользователя (дней)" [required]="true">
          <input-number name="maxInactivityPeriod" placeholder="" [(ngModel)]="namespace.maxInactivityPeriod"
                        [required]="true" [disabled]="isFormDisabled"></input-number>
        </form-control-label>
      </div>
      <div class="col-sm-6 col-12">
        <form-control-label title="Максимальное период неактивности пользователя внутри сеанса (минут)" [required]="true">
          <input-number name="sessionSize" placeholder="" [(ngModel)]="namespace.sessionSize"
                        [required]="true" [disabled]="isFormDisabled"></input-number>
        </form-control-label>
      </div>
    </div>
  </fieldset>

  <!--<fieldset>-->
  <!--<legend>Предупреждения о сроках окончания лицензии</legend>-->

  <!--<div class="row">-->
  <!--<div class="col-sm-6 col-12">-->
  <!--<form-control-label title="Предупреждения о сроках окончания лицензии за(дней)" [required]="true">-->
  <!--<input-number name="warnLicenceExpirationDays" placeholder=""-->
  <!--[(ngModel)]="namespace.warnLicenceExpirationDays" [required]="true"-->
  <!--[disabled]="isFormDisabled"></input-number>-->
  <!--</form-control-label>-->
  <!--</div>-->
  <!--</div>-->
  <!--</fieldset>-->

  <div class="page__btn">
    <div class="row">
      <div class="col-sm-6 col-12">
        <button class="btn btn-link btn-rounded btn-block"
                (click)="router.navigate(['/'])">Закрыть
        </button>
      </div>
      <div class="col-sm-6 col-12">
        <button type="submit"
                class="btn btn-primary btn-rounded btn-block">Сохранить
        </button>
      </div>
    </div>
  </div>
</form>
