<modal-dialog #dialog [modal-dialog-config]="{
    clickOutsideToClose: true,
    styles:{'width': '400px', 'height': '350px', 'text-align': 'left'},
    isModal:true,
    enterTransitionDuration: 400,
    leaveTransitionDuration: 400}">
  <form #f="ngForm"
        novalidate
        autocomplite="off"
        [ngClass]="{'was-validated': wasValidate}" style="width: 340px"
        (submit)="submit(f)">
    <h3 class="modal-dialog__title">{{options?.modalDialogTitle}}</h3>

    <form-control-label title="Новый пароль" [required]="true">
      <input-field name="password" autocomplete="new-password" type="password" placeholder="Новый пароль"
                   [(ngModel)]="newPassword"
                   [required]="true"
                   (ngModelChange)="onPasswordChanged()"></input-field>
    </form-control-label>

    <form-control-label title="Подтверждение пароля" [required]="true">
      <input-field name="passwordConfirm" placeholder="Подтверждение пароля"
                   type="password" [(ngModel)]="retPassword"
                   [required]="true"
                   (ngModelChange)="onPasswordChanged()"></input-field>
    </form-control-label>

    <div class="alert alert-danger" *ngIf="wasValidate && !isEqualPassword">{{repeatErrorMessage}}</div>
    <div class="alert alert-danger" *ngIf="serviceErrorMessage">{{serviceErrorMessage}}</div>

    <div class="modal-dialog__actions row">
      <div class="col-6 text-center">
        <button type="submit"
                class="btn btn-primary btn-rounded"
                [disabled]="isServiceInProgress">
          Подтвердить
        </button>
      </div>
      <div class="col-6 text-center">
        <button class="btn btn-link btn-rounded"
                (click)="dialog?.close()"
                [disabled]="isServiceInProgress">Отмена</button>
      </div>
    </div>
  </form>
</modal-dialog>
